<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>sua conversa</title>
</head>

<body>
    <h1>Conversa com {{ conta_nome }}</h1>
    <ul>
        {% for mensagem in mensagens %}
            <li>{{ mensagem.conteudo }}</li>
        {% endfor %}
    </ul>
    <a href="{{ url_for('listar_mensagens') }}">Voltar às mensagens</a>
</body>
</html>
